# Python
__pycache__/
*.py[cod]
.env
.venv/
env/
venv/
.mypy_cache/
.pytest_cache/
.coverage
*.egg-info/
dist/
build/

# JavaScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
.next/
.parcel-cache/

# Editor folders and logs
.DS_Store
*.log
.vscode/
.idea/

# cache
.cache/

# build documentation
site/